[user]
  name = Robbie Vanbrabant
  email = robbie.vanbrabant@gmail.com
[color]
  diff = auto
  status = auto
  branch = auto
  ui = true
[core]
  editor = nvim
  symlinks = true
[pull]
  ff = only
[push]
  default = current
[alias]
  branches = ! git branch --sort=committerdate | tail -10
  allbranches = ! git branch --sort=committerdate
  b = branch --show-current
  st = -c color.status=always status -sb
  snw = ! git -c color.status=always status -sb | nw
  co = checkout
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  prdiff = ! git diff $(git merge-base --fork-point master)
[url "git@github.com:"]
  insteadOf = https://github.com/
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
